<div class="advert container">
  <link
    href="https://fonts.googleapis.com/css?family=Pridi:600"
    rel="stylesheet"
  />

  <div class="marquee container">
    <div class="marquee__inner">
      <h2 class="marquee__line">
        <span class="marquee-span">Master</span> your photography
        <span class="marquee-span">skills with us!</span>
      </h2>
      <h2 class="marquee__line">
        <span class="marquee-span">Master</span> your photography
        <span class="marquee-span">skills with us!</span>
      </h2>
    </div>
  </div>
</div>
