<div class="footer-container container">
  <div class="footer-top-part">
    <div class="footer-our-info">
      <svg class="footer-logo" height="16" width="123">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
      <address class="footer-address">
        <ul class="footer-address-list" id="contacts">
          <li class="footer-address-list-item">
            <a class="footer-address-list-link" href="tel:+380665438912">
              UK: + 38 066 543 8912
            </a>
          </li>
          <li class="footer-address-list-item">
            <a
              class="footer-address-list-link"
              target="_blank"
              href="https://www.google.com/maps/place/%D0%A1%D1%82%D0%B0%D1%82%D1%83%D1%8F+%D0%9D%D0%B5%D0%B7%D0%B0%D0%BB%D0%B5%D0%B6%D0%BD%D0%BE%D1%81%D1%82%D1%96+%D0%A3%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D0%B8/@50.4495517,30.520505,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4cf1e14d0bae5:0x3397fb304e8a439a!8m2!3d50.4495484!4d30.5253759!16s%2Fg%2F11ppw3r4sx?entry=ttu"
            >
              Ukraine, Kyiv
            </a>
          </li>
        </ul>
      </address>
    </div>
    <div class="footer-navigation-box">
      <div class="footer-social">
        <ul class="footer-social-list">
          <li class="footer-social-list-item">
            <a href="" class="footer-social-list-link">Instagram</a>
          </li>
          <li class="footer-social-list-item">
            <a href="" class="footer-social-list-link">Facebook</a>
          </li>
          <li class="footer-social-list-item">
            <a href="" class="footer-social-list-link">Youtube</a>
          </li>
        </ul>
      </div>
      <div class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a href="" class="footer-nav-list-link">About us</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="" class="footer-nav-list-link">Our courses</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="" class="footer-nav-list-link">Our mentors</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="" class="footer-nav-list-link">Reviews</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="" class="footer-nav-list-link">Contacts</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-form-box">
      <form class="foot-form">
        <input
          class="foot-input"
          type="email"
          name="user-email"
          placeholder="Enter your email"
        />
        <button class="form-button" type="submit">Go</button>
      </form>
    </div>
  </div>
  <div class="footer-paragraphy">
    <p class="footer-privacy">Privacy Policy Public Offering Agreement</p>
    <p class="footer-frame">2023 Focus Frame © All rights reserved</p>
  </div>
</div>
