<header class="header">
  <div class="header-container container">
    <div class="header-nav-wraper">
      <a href="" class="header-logo">
        <svg class="header-logo-icon" height="16" width="123">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item">
            <a href="#about-us" class="header-nav-list-link">About us</a>
          </li>
          <li class="header-nav-list-item">
            <a href="#our-courses" class="header-nav-list-link">Our courses</a>
          </li>
          <li class="header-nav-list-item">
            <a href="#mentors" class="header-nav-list-link">Our mentors</a>
          </li>
          <li class="header-nav-list-item">
            <a href="#reviews" class="header-nav-list-link">Reviews</a>
          </li>
          <li class="header-nav-list-item">
            <a href="#footer" class="header-nav-list-link">contacts</a>
          </li>
        </ul>
        <a class="header-mobile-sign-up-button" href="#sign-up">
          <svg class="header-mobile-sign-up-button-icon" height="16" width="16">
            <use href="./img/sprite.svg#icon-camera-icon"></use>
          </svg>
        </a>
        <button class="header-burger-menu-button" type="button">
          <svg class="header-burger-menu-button-icon" height="28" width="40">
            <use href="./img/sprite.svg#icon-burger-icon"></use>
          </svg>
        </button>
      </nav>
    </div>

    <a class="header-sign-up-button btn btn-light" href="#sign-up" type="button">
      Sign up
    </a>
  </div>
</header>
