<section class="hero-section">
  <div class="hero-container container">
    <!-- Hero name -->
    <div class="wrapper">
      <div class="text-plus-studets">
        <div class="hero-name-block">
          <h1 class="hero-name">
            Discover the magic of
            <span class="ptotography-word">photography</span> in our school
          </h1>
          <!-- Hero Description -->
          <p class="hero-description">
            Our photography school offers an unforgettable journey, where you
            can learn the basics of composition, master technical skills,
            translate your unique ideas.
          </p>
        </div>
        <!-- Hero Students -->
        <div class="hero-common-block">
          <div class="students-block">
            <div class="hero-students">
              <ul class="students-list">
                <li class="students-photo">
                  <img
                    class="students-image girl-1"
                    srcset="
                      ./img/girl-happy-three-friends@1x.png 1x,
                      ./img/girl-happy-three-friends@2x.png 2x
                    "
                    src="./img/girl-happy-three-friends@1x.png"
                    alt="girl-1"
                    width="44"
                  />
                </li>
                <li class="students-photo">
                  <img
                    class="students-image boy-1"
                    srcset="
                      ./img/boy-happy-three-friends@1x.png 1x,
                      ./img/boy-happy-three-friends@2x.png 2x
                    "
                    src="./img/boy-happy-three-friends@1x.png"
                    alt="boy"
                    width="44"
                  />
                </li>
                <li class="students-photo">
                  <img
                    class="students-image girl-2"
                    srcset="
                      ./img/girl2-happy-three-friends@1x.png 1x,
                      ./img/girl2-happy-three-friends@2x.png 2x
                    "
                    src="./img/girl2-happy-three-friends@1x.png"
                    alt="girl"
                    width="44"
                  />
                </li>
              </ul>
            </div>
            <!-- Happy students -->
            <div class="happy-students">
              <ul class="our-happy-students">
                <li class="our-happy-students-list">
                  <p class="our-happy-students-text">Our happy students</p>
                </li>
                <li>
                  <a
                    class="happy-students-link"
                    href="./reviews.html"
                    aria-label="arrow"
                  >
                    <svg class="happy-students-icon" width="18" height="8.66">
                      <use href="./img/sprite.svg#icon-arrow_right-icon"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Reviews -->
            <div class="reviews">
              <ul class="reviews-items">
                <li class="reviews-list">
                  <svg class="reviews-icon" width="20" height="20">
                    <use href="./img/sprite.svg#icon-star-empty-icon"></use>
                  </svg>
                </li>
                <li class="review-list">
                  <p class="reviews-text">Reviews</p>
                  <p class="reviews-number">+1500</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Image -->
      <div class="hero-image">
        <img
          class="hero-image-photo"
          srcset="
            ../img/hero-mobile-ginger@1x.png 1x,
            ../img/hero-mobile-ginger@2x.png 2x
          "
          src="../img/hero-mobile-ginger@1x.png"
          alt="photographer"
          width=""
        />
        <picture>
          <source
            srcset="
              ../img/hero-desktop-ginger@1x.png 1x,
              ../img/hero-desktop-ginger@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ../img/hero-desktop-ginger@1x.png 1x,
              ../img/hero-desktop-ginger@2x.png 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ../img/hero-tablet-ginger@1x.png 1x,
              ../img/hero-tablet-ginger@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ../img/hero-mobile-ginger@1x.png 1x,
              ..img/hero-mobile-ginger@2x.png 2x
            "
            media="(min-width: 320px)"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
