<section class="hero-section">
    <div class="hero-container container">
        <!-- Hero name -->
        <div class="hero-wrapper">
            <div class="hero-text-side">
                <div class="hero-name-block">
                    <h1 class="hero-title">
                        Discover the magic of
                        <span class="hero-title-akcent-text">photography</span> in our
                        school
                    </h1>
                    <!-- Hero Description -->
                    <p class="hero-desc">
                        Our photography school offers an unforgettable journey, where you
                        can learn the basics of composition, master technical skills,
                        translate your unique ideas.
                    </p>
                </div>
                <!-- Hero Students -->
                <div class="hero-statistic">
                    <a class="hero-students" href="#reviews">
                        <div class="hero-students-img-part">
                            <img class="hero-students-img" src="./img/happy-students@1x-min.png"
                            srcset="./img/happy-students@1x-min.png 1x,
                            ./img/happy-students@2x-min.png 2x"
                            alt="Happy students"
                            />
                        </div>
                        <!-- Happy students -->
                        <div class="hero-students-text-part">
                            <p class="hero-students-text">Our happy students</p>

                            <svg class="hero-students-icon" height="17">
                                <use href="./img/sprite.svg#icon-arrow_right-icon"></use>
                            </svg>
                        </div>
                    </a>
                    <!-- Reviews -->
                    <a class="hero-reviews" href="#reviews">
                        <div class="hero-reviews-img-part">
                            <svg class="reviews-icon" width="20" height="20">
                                <use href="./img/sprite.svg#icon-star-empty-icon"></use>
                            </svg>
                        </div>
                        <div class="hero-reviews-text-part">
                            <p class="reviews-text">Reviews</p>
                            <p class="reviews-number">+1500</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Hero Image -->
            <div class="hero-image"></div>
        </div>
    </div>
</section>

