<section class="hero-section">
<div class="hero-container container">
    <h1 class="hero-name">
    Discover the magic of photography in our school
    </h1>
    <p class="hero-description">
        Our photography school offers an unforgettable journey, where you can learn the basics of composition, master technical
        skills, translate your unique ideas.
    </p>
<div class="hero-students">
    <ul class="students-list">
    <li class="students-photo">
    <img class="students-image"
    srcset="../img/girl-happy-three-friends@1x.png 1x, ./img/girl-happy-three-friends@2x.png 2x,"
    src="../img/girl-happy-three-friends@1x.png" 
    alt="girl-1" width="44">
</li>
<li class="students-photo">
    <img class="students-image"
    srcset="../img/boy-happy-three-friends@1x.png 1x, ../img/boy-happy-three-friends@2x.png 2x,"
    src="../img/boy-happy-three-friends@1x.png" alt="boy" width="44">
</li>
<li class="students-photo">
    <img class="students-image"
    srcset="../img/girl2-happy-three-friends@1x.png 1x, ../img/girl2-happy-three-friends@2x.png 2x"
    src="../img/girl2-happy-three-friends@1x.png" alt="girl" width="44">
</li>
</ul>
    </div>
</div>
</section>
