<div class="backdrop">
  <div class="menu-container js-menu-container" id="mobile-menu">
    <button type="button" class="mobile-close-btn menu-toggle js-close-menu">
      <svg class="mobile-btn" width="32" height="32">
        <use href="./img/sprite.svg#icon-mobile-menu-close-ico"></use>
      </svg>
    </button>
    <ul class="list">
      <li class="list-item"><a class="link" href="">ABOUT US</a></li>
      <li class="list-item"><a class="link" href="">OUR COURSES</a></li>
      <li class="list-item"><a class="link" href="">OUR MENTORS</a></li>
      <li class="list-item"><a class="link" href="">REVIEWS</a></li>
      <li class="list-item"><a class="link" href="">CONTACTS</a></li>
    </ul>
  </div>
</div>
