<div class="menu-container container js-menu-container" id="mobile-menu">
    <button type="button" class="menu-toggle js-close-menu">
      <svg class="mobile-btn" width="32" height="32">
        <use href="./img/sprite.svg#icon-mobile-menu-close-ico"></use>
      </svg>
    </button>
    <ul class="list">
      <li class="list-item"><a href="">ABOUT US</a></li>
      <li class="list-item"><a href="">OUR COURSES</a></li>
      <li class="list-item"><a href="">OUR MENTORS</a></li>
      <li class="list-item"><a href="">REVIEWS</a></li>
      <li class="list-item"><a href="">CONTACTS</a></li>
    </ul>
  </div>