<div class="courses container" id="our-courses">
  <section class="section-our-courses">
    <div class="before-course">
      <h2 class="main-name">
        Our <span class="main-name-courses">Courses</span>
      </h2>
      <p class="course-main-p">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <div class="course">
      <ol class="course-list">
        <li class="course-list-i">
          <a class="link-course" href="#sign-up">
            <svg class="anchor" width="20" height="20">
              <use
                href="./img/sprite.svg#icon-arrow-narrow-up-right-icon"
              ></use>
            </svg>
          </a>
          <div class="content-cards">
            <h3 class="list-course-name">Basics of photography</h3>
            <p class="list-course-p">
              During this course, you will be able to familiarize yourself with
              different types of cameras, learn the basics of composition.
            </p>
          </div>
        </li>
        <li class="course-list-i">
          <a class="link-course" href="#sign-up">
            <svg class="anchor" width="20" height="20">
              <use
                href="./img/sprite.svg#icon-arrow-narrow-up-right-icon"
              ></use>
            </svg>
          </a>
          <div class="content-cards">
            <h3 class="list-course-name">Landscape photography</h3>
            <p class="list-course-p">
              In this course, you'll learn how to choose the right angles, frame
              landscapes, and create depth and perspective in your images.
            </p>
          </div>
        </li>
        <li class="course-list-i">
          <a class="link-course" href="#sign-up">
            <svg class="anchor" width="20" height="20">
              <use
                href="./img/sprite.svg#icon-arrow-narrow-up-right-icon"
              ></use>
            </svg>
          </a>
          <div class="content-cards">
            <h3 class="list-course-name list-course-name-last">
              Portrait photography
            </h3>
            <p class="list-course-p">
              During this course, you will learn to choose the right lighting,
              reproduce the mood and expressions on the faces of the models.
            </p>
          </div>
        </li>
      </ol>
    </div>
  </section>
</div>
