<section class="mentors-section section">
  <div class="mentors-container container">
    <h2 class="mentors-title">
      Our <span class="mentors-title-item">Mentors</span>
    </h2>
    <div class="mentors-item">
      <ul class="mentors-list">
        <li class="mentors-cards">
          <img
            class="mentors-photo"
            srcset="
              ./img/emilia-smith-mentor@1x.png 1x,
              ./img/emilia-smith-mentor@2x.png 2x
            "
            src="./img/emilia-smith-mentor@1x.png"
            alt="photo Emilia Smith"
            width="180"
            height="180"
            loading="lazy"
          />
          <div class="mentors-content">
            <h3 class="mentors-content-title">Emilia Smith</h3>
            <p class="mentors-content-text">1.5 years of experience</p>
          </div>
        </li>
        <li class="mentors-cards">
          <img
            class="mentors-photo"
            srcset="
              ./img/alex-lebedev-mentor@1x.png 1x,
              ./img/alex-lebedev-mentor@2x.png 2x
            "
            src="./img/alex-lebedev-mentor@1x.png"
            alt="photo Alex Lebedev"
            width="180"
            height="180"
            loading="lazy"
          />
          <div class="mentors-content">
            <h3 class="mentors-content-title">Alex Lebedev</h3>
            <p class="mentors-content-text">3.5 years of experience</p>
          </div>
        </li>
        <li class="mentors-cards">
          <img
            class="mentors-photo"
            srcset="
              ./img/mia-dubrovska-mentor@1x.png 1x,
              ./img/mia-dubrovska-mentor@2x.png 2x
            "
            src="./img/mia-dubrovska-mentor@1x.png"
            alt="photo Mia Dubrovska"
            width="180"
            height="180"
            loading="lazy"
          />
          <div class="mentors-content">
            <h3 class="mentors-content-title">Mia Dubrovska</h3>
            <p class="mentors-content-text">2.0 years of experience</p>
          </div>
        </li>
        <li class="mentors-cards">
          <img
            class="mentors-photo"
            srcset="
              ./img/eliot-kovalev-mentor@1x.png 1x,
              ./img/eliot-kovalev-mentor@2x.png 2x
            "
            src="./img/eliot-kovalev-mentor@1x.png"
            alt="photo Eliot Kovalev"
            width="180"
            height="180"
            loading="lazy"
          />
          <div class="mentors-content">
            <h3 class="mentors-content-title">Eliot Kovalev</h3>
            <p class="mentors-content-text">4.0 years of experience</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
