<div class="reviews container">
  <h2 class="reviews-title">Reviews</h2>
  <ul>
    <li>
      <div class="testimonial-box-content">
        <!-- box-one -->
        <div class="testimonial-box">
          <!-- top -->
          <div class="box-top">
            <!-- profile -->
            <div class="profile">
              <!-- img -->
              <div class="profile-img">
                <img
                  src="../img/review-abraham@1x.png"
                  alt="Abraham Baker"
                  width="56"
                  height="56"
                  srcset="
                    ./img/review-abraham@1x.png 1x,
                    ./img/review-abraham@2x.png 2x
                  "
                />
              </div>
              <!-- name -->
              <div class="name-user">
                <strong>Abraham Baker</strong>
                <span>Student</span>
              </div>
            </div>
            <!-- reviews-star -->
            <div class="reviews-star">
              <i>
                <svg class="empty" width="16" height="16">
                  <use href="../img/sprite.svg#icon-star-empty-icon"></use>
                </svg>
              </i>
              <i>
                <svg class="empty" width="16" height="16">
                  <use href="../img/sprite.svg#icon-star-empty-icon"></use>
                </svg>
              </i>
              <i>
                <svg class="empty" width="16" height="16">
                  <use href="../img/sprite.svg#icon-star-empty-icon"></use>
                </svg>
              </i>
              <i>
                <svg class="empty" width="16" height="16">
                  <use href="../img/sprite.svg#icon-star-empty-icon"></use>
                </svg>
              </i>
              <i>
                <svg class="full" width="16" height="16">
                  <use href="../img/sprite.svg#icon-star-full-icon"></use>
                </svg>
              </i>
            </div>
            <!-- comments -->
            <div class="client-comment">
              <p>
                I am very pleased that I decided to enroll in photography
                school. The teachers turned out to be very talented and
                experienced professionals who share their knowledge and are
                dedicated to their work. I was able to expand my skills and
                discover my own style.
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="testimonial-box-content">
        <!-- box-two -->
        <div class="testimonial-box">
          <!-- top -->
          <div class="box-top">
            <!-- profile -->
            <div class="profile">
              <!-- img -->
              <div class="profile-img">
                <img
                  src="../img/review-amanda@1x.png"
                  alt="Amanda Lowery"
                  width="56"
                  height="56"
                  srcset="
                    ./img/review-amanda@1x.png 1x,
                    ./img/review-amanda@2x.png 2x
                  "
                />
              </div>
              <!-- name -->
              <div class="name-user">
                <strong>Amanda Lowery</strong>
                <span>Student</span>
              </div>
            </div>
            <!-- reviews-star -->
            <div class="reviews-star">
              <i>
                <svg class="empty" width="16" height="16">
                  <use href="../img/sprite.svg#icon-star-empty-icon"></use>
                </svg>
              </i>
              <i>
                <svg class="empty" width="16" height="16">
                  <use href="../img/sprite.svg#icon-star-empty-icon"></use>
                </svg>
              </i>
              <i>
                <svg class="empty" width="16" height="16">
                  <use href="../img/sprite.svg#icon-star-empty-icon"></use>
                </svg>
              </i>
              <i>
                <svg class="empty" width="16" height="16">
                  <use href="../img/sprite.svg#icon-star-empty-icon"></use>
                </svg>
              </i>
              <i>
                <svg class="full" width="16" height="16">
                  <use href="../img/sprite.svg#icon-star-full-icon"></use>
                </svg>
              </i>
            </div>
            <!-- comments -->
            <div class="client-comment">
              <p>
                The courses at the photography school exceeded all my
                expectations. I gained not only technical knowledge, but also
                inspiration and motivation to reach new heights in my
                creativity. Hands-on classes and workshops helped me understand
                different styles of photography.
              </p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
