<div class="signup container">
  <div class="sign-up-box">
    <h2 class="sign-up-title">Sign Up</h2>
    <p class="sign-up-text">
      Please use the form below to contact us. Enter your name, email, and
      message and we'll get back to you shortly.
    </p>
    <form class="sign-up-form" name="sign-up-form">
      <div class="sign-up-form-item">
        <input
          class="sign-up-form-input"
          type="text"
          name="user-name"
          id="user-name"
          required
          minlength="3"
          placeholder="Enter your name"
        />
      </div>
      <div class="sign-up-form-item">
        <input
          class="sign-up-form-input"
          type="text"
          name="email"
          id="email"
          required
          placeholder="Enter your email"
        />
      </div>
      <div class="sign-up-form-item">
        <textarea
          class="sign-up-message"
          name="user-comment"
          id="user-comment"
          rows="6"
          placeholder="Message"
        ></textarea>
      </div>
      <button class="submit-btn" type="submit">Send</button>
    </form>
    <p class="policy">
      By clicking on &#10077;Send&#10078; button, you agree to our
      <a class="policy-link" href="">Privacy Policy</a>, and allow Promodo to
      use this information for marketing purposes.
    </p>
  </div>
  <div class="sign-up-img">
    <img
      src="./img/sign-up-lense@1x.png"
      alt="camera lense"
      srcset="./img/sign-up-lense@1x.png 1x, ./img/sign-up-lense@2x.png 2x"
      width="150"
    />
    <img
      src="./img/sign-up-camera@1x.png"
      alt="black camera"
      srcset="./img/sign-up-camera@1x.png 1x, ./img/sign-up-camera@2x.png 2x"
      width="254"
    />
  </div>
</div>
