<section class="signup" id="sign-up">
  <div class="container">
    <div class="signup-box">
      <h2 class="signup-title">Sign <span class="signup-title-up">Up</span></h2>
      <p class="signup-text">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="signup-form" name="signup-form">
        <label class="signup-form-label" for="user-name"></label>
        <input
          class="signup-form-input"
          type="text"
          name="user-name"
          id="user-name"
          required
          minlength="3"
          placeholder="Enter your name"
        />

        <label class="signup-form-label" for="email"></label>
        <input
          class="signup-form-input"
          type="text"
          name="email"
          id="email"
          required
          placeholder="Enter your email"
        />

        <label class="signup-form-label" for="user-comment"></label>
        <textarea
          class="signup-message"
          name="user-comment"
          id="user-comment"
          rows="5"
          placeholder="Message"
        ></textarea>

        <button class="submit-btn" type="submit">Send</button>
      </form>
      <p class="signup-policy">
        By clicking on &#8220;Send&#8221; button, you agree to our
        <a class="signup-policy-link" href="">Privacy Policy</a>,<br />
        and allow Promodo to use this information for marketing purposes.
      </p>
    </div>
    <div class="signup-pics">
      <div class="signup-pics-left">
        <img
          class="signup-lense"
          src="./img/sign-up-lense@1x.png"
          alt="camera lense"
          srcset="./img/sign-up-lense@1x.png 1x, ./img/sign-up-lense@2x.png 2x"
          width="150"
          height="142"
        />
      </div>
      <div class="signup-pics-right">
        <img
          src="./img/sign-up-camera@1x.png"
          alt="black camera"
          srcset="
            ./img/sign-up-camera@1x.png 1x,
            ./img/sign-up-camera@2x.png 2x
          "
          width="254"
        />
      </div>
    </div>
  </div>
</section>
