.footer-container {
}
footer {
    padding-top: 40px;
    padding-bottom: 20px;
    background-image: url(../img/graphic-phone.png);
    background-size: cover;
    border-top: 1px solid rgba(255, 255, 255, 0.20);
}
/* ================ */
.footer-top-part {
    margin-bottom: 50px;

}
.footer-navigation-box {
    display: flex;
    gap: 100px;
    margin-right: 191px;
}

.footer-our-info {
    margin-right: auto;
}
.footer-logo {
    fill: var(--white);
    margin-bottom: 25px;
}
/* ================ */
.footer-address {
}
.footer-address-list {
}
.footer-address-list-item {
    font-style: normal;
}
.footer-address-list-item:not(:last-child) {
    margin-bottom: 10px;
}
.footer-address-list-link {
}
/* ================ */
.footer-social, .footer-nav {
    text-transform: uppercase;
}
.footer-social-list {
}
.footer-social-list-item {
}
.footer-social-list-item:not(:last-child), .footer-nav-list-item:not(:last-child) {
    margin-bottom: 20px;
}
.footer-social-list-link {
}
/* ================ */
.footer-nav {

}
.footer-nav-list {
}
.footer-nav-list-item {
}
.footer-nav-list-link {
}
/* ================ */
.footer-form-box {
}
.foot-form {
    display: flex;
    gap: 8px;
}
.foot-input {
        width: 216px;
        height: 60px;
        background-color: var(--white); 
        border: 1px solid var(--white);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 12px;
        padding: 0 18px;
}
    
.foot-input:hover,
.foot-input:focus {
        border: 1px solid rgba(255, 255, 255, 0.50);
    
}

.form-button {
        background-color: var(--grey);
        padding: 18px;
        color: var(--white);
        border-radius: 12px;
        border: transparent;
      }
/* ================ */
.footer-paragraphy {
    display: flex;
    justify-content: space-between;
}
.footer-privacy {
}
.footer-frame {
}
@media only screen and (min-width: 375px) {
    .footer-our-info {
        font-size: 14px;
    }
    .footer-navigation-box {
        margin: 40px 0 75px 0;
        gap: 40px;
        font-size: 14px;
    }
    .footer-social-list-item:not(:last-child), .footer-nav-list-item:not(:last-child) {
         margin-bottom: 14px;
    }
    .foot-input { 
        width: 267px;
        flex-grow: 1;
    }
    
}
@media only screen and (min-width:768px) {
    .footer-top-part {
    display: flex;
    }
    .footer-our-info {
        margin-right: auto;
    }
    .footer-navigation-box {
        margin: 0;
        margin-right: 59px;
        padding: 0;
    }
    .footer-social-list-item:not(:last-child), .footer-nav-list-item:not(:last-child) {
         margin-bottom: 14px;
    }
    .foot-input { 
        width: 178px;
        flex-grow: 1;
    }
}