.hero-section {}

.hero-container {}

.hero-wrapper {

    padding: 50px;
    padding-top: 80px;
    background-color: var(--grey);
    border-radius: 30px;
}

@media screen and (min-width: 1280px) {
    .hero-wrapper {
        display: flex;
    }
}

/*-----------------------------------*/
.hero-text-side {
    max-width: 563px;
    margin-bottom: 40px;
}

@media screen and (min-width: 1280px) {
    .hero-text-side {
        margin-bottom: 0px;
    }
}

.hero-name-block {
    margin-bottom: 40px;
}

@media screen and (min-width: 1280px) {
    .hero-name-block {
        margin-bottom: 136px;
    }
}

.hero-title {
    margin-bottom: 20px;
}

.hero-title-akcent-text {
    color: var(--brown-text);
}

.hero-desc {
    max-width: 418px;
}

/*-----------------------------------*/
.hero-statistic {
    display: flex;
    gap: 40px;
    font-size: 16px;
}

.hero-reviews,
.hero-students {
    display: flex;
    gap: 12px;
}

/*-----------------------------------*/
.hero-students {}

@media screen and (max-width: 768px) {
    .hero-students {
        display: block;
    }
}

.hero-students-img-part {
    
}

.hero-students-img {}

.hero-students-text-part {}

.hero-students-text {
    max-width: 82px;
    margin-bottom: 8px;
}

.hero-students-icon {
    fill: var(--white);
    width: 18px;
}

/*-----------------------------------*/
.hero-reviews {}

.hero-reviews-img-part {
    background-color: var(--brown-active);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews-icon {
    height: 20px;
    min-width: 20px;
    fill: transparent;
    stroke: var(--black);
}

.hero-reviews-text-part {}

.reviews-text {
    opacity: 0.5;
    margin-bottom: 8px;
}

.reviews-number {}

/*-----------------------------------*/
.hero-image {
    flex-grow: 1;
    margin-bottom: -50px;
}

.hero-image-photo {
    margin: 0 auto;
    height: 100%;
}