.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background-color: rgba(18, 18, 18, 0.4);
  transform: translateX(200vw);
  transition: transform var(--transition-settings);
  z-index: 1001;
}
.menu-container {
  position: relative;
  width: 58vw;
  max-width: 480px;
  height: 100vh;

  padding: 180px 20px 0 20px;
  margin-left: auto;
  background-color: var(--brown-text);
  background-image: url(../img/mobile-menu-camera@1x.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .menu-container {
    background-image: url(../img/mobile-menu-camera@2x.png);
    background-size: contain;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279.98px) {
  .menu-container {
    padding: 180px 20px 0 64px;
    background-image: url(../img/tablet-menu-camera@1x.png);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .menu-container {
      background-image: url(../img/tablet-menu-camera@2x.png);
    }
  }
}

@media screen and (min-width: 1280px) {
  .menu-container {
    display: none;
  }
}

.mobile-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  stroke: var(--black);
  background-color: transparent;
  border: none;
  margin-left: auto;
}

.menu-container .list-item:not(:last-child) {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.menu-container .link {
  display: block;
  font-weight: 400;
  color: var(--black);
}

.menu-container .link:hover,
.menu-container .link:focus,
.menu-container .link:active {
  font-weight: 700;
}

.is-open {
  transform: translateX(0);
}
