.mentors-section {
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .mentors-section {
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .mentors-section {
    padding-bottom: 150px;
  }
}

@media only screen and (max-width: 374.98px) {
  .mentors-container {
    min-width: 320px;
  }
}

.mentors-title {
  margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
  .mentors-title {
    margin-bottom: 50px;
  }
}

.mentors-title-item {
  color: var(--brown-text);
}

@media only screen and (min-width: 768px) {
  .mentors-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 474px;
    justify-content: space-between;
    margin: 0 auto;
    row-gap: 92px;
  }
}

@media only screen and (min-width: 1280px) {
  .mentors-list {
    max-width: max-content;
    justify-content: center;
    gap: 92px;
  }
}

@media only screen and (min-width: 1440px) {
  .mentors-list {
    gap: 112px;
  }
}

@media only screen and (max-width: 767.98px) {
  .mentors-cards:not(:last-child) {
    margin-bottom: 40px;
  }
  .mentors-cards {
    width: 185px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 768px) {
  .mentors-cards {
    width: max-content;
  }
}

.mentors-photo {
  margin: 0 auto 16px;
}

.mentors-content-title {
  margin-bottom: 4px;
}

@media only screen and (min-width: 768px) {
  .mentors-content-title {
    letter-spacing: 0.02em;
  }
}

.mentors-content-text {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
}

@media only screen and (min-width: 768px) {
  .mentors-content-text {
    font-size: 14px;
    line-height: 1.29;
  }
}

.mentors-cards {
  transition: transform 0.18s ease-in-out;
}
.mentors-cards:hover {
  transform: scale(1.05);
}
