.reviews-list {
  display: flex;
  gap: 20px;
}
/* Phone screen */

.reviews.container {
  padding-bottom: 80px;
}

/* title */
.reviews-title {
  margin-bottom: 40px;
}

.testimonial-box {
  border-radius: 12px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: transform 0.18s ease-in-out;
}

.testimonial-box:hover {
  transform: scale(1.05);

}

/* profile */
.profile-img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.profile {
  display: flex;
  align-items: center;
}

.name-user {
  display: flex;
  flex-direction: column;
}

.name-user h3 {
  margin-bottom: 4px;
}

.reviews-status {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.015em;
}

/* star rating */
.empty {
  fill: var(--brown-text);
  width: 16px;
  height: 16px;
}

.full {
  fill: #414141;
  width: 16px;
  height: 16px;
}

.box-top {
  display: inline;
  margin-bottom: 20px;
}

.client-comment p {
  line-height: 1.29;
  letter-spacing: -0.002em;
}

/**
  |============================
  | Media
  |============================
*/
@media only screen and (max-width: 767px) {
  .reviews-star {
    padding-left: 66px;
    margin-bottom: 18px;
  }
}
/* Tablet screen */
@media only screen and (min-width: 768px) {
  .reviews.container {
    padding-bottom: 100px;
  }

  .reviews-title {
    margin-bottom: 50px;
  }

  .testimonial-box {
    width: 640px;
    height: 196px;
    margin-left: 32px;
  }

  .reviews-status {
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.018em;
  }

  .reviews-star {
    margin-bottom: 30px;
  }
  /* star rating */
  .empty {
    width: 20px;
    height: 20px;
  }

  .full {
    width: 20px;
    height: 20px;
  }

  .box-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .client-comment p {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    width: 600px;
  }
}
/* None reviews two */
@media only screen and (max-width: 1279px) {
  .reviews-two {
    display: none;
  }
}
/* Laptop screen */

@media only screen and (min-width: 1280px) {
  .reviews.container {
    padding-bottom: 150px;
  }

  .testimonial-box {
    width: 530px;
    height: 216px;
    margin-left: 0;
  }

  .client-comment p {
    width: 490px;
  }
}
/* Desktop screen */
@media only screen and (min-width: 1440px) {
  .reviews.container {
    padding-bottom: 150px;
  }

  .testimonial-box {
    width: 610px;
    height: 196px;
  }

  .client-comment p {
    width: 570px;
  }
}
