.signup {
}

.signup-box {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .signup-box {
    width: 480px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .signup-box {
  }
}

.signup-title {
  margin-bottom: 20px;

  /* font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -1.12px; */
}
.signup-title-up {
  color: var(--brown-active);
}

.signup-text {
  margin-bottom: 40px;
  width: 295px;
}
@media only screen and (min-width: 768px) {
  .signup-text {
    width: 480px;
  }
}

.signup-form {
}
.signup-form-item {
}

.signup-form-input {
  padding-top: 14px;
  padding-bottom: 14px;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .signup-form-input {
    margin-bottom: 14px;
  }
}

.signup-message {
  padding-top: 16px;
  padding-bottom: 16px;
  resize: none;
  margin-bottom: 40px;
  height: 140px;
}
@media only screen and (min-width: 768px) {
  .signup-message {
    height: 120px;
  }
}

.signup-form-input,
.signup-message {
  width: 100%;
  padding-right: 18px;
  padding-left: 18px;

  color: #fff;
  line-height: 1.25;
  opacity: 0.7;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .signup-form-input,
  .signup-message {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.submit-btn {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 12px;
  background: var(--white);

  padding-top: 14px;
  padding-bottom: 14px;

  color: var(--black, #121212);
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}

.signup-policy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 1.33;
}
@media only screen and (min-width: 768px) {
  .signup-policy {
    font-size: 14px;
    line-height: 1.28;
  }
}

.signup-policy-link {
  text-decoration: underline;
}

.signup-pics {
  display: none;
}
