.signup {
}
@media only screen and (min-width: 1280px) {
  .signup {
    display: flex;
    justify-content: space-between;
  }
}

.signup-box {
  padding-bottom: 80px;
}
@media only screen and (min-width: 768px) {
  .signup-box {
    width: 480px;
    padding-bottom: 100px;
  }
}
@media only screen and (min-width: 1280px) {
  .signup-box {
  }
}

.signup-title {
  margin-bottom: 20px;
}
.signup-title-up {
  color: var(--brown-text);
}

.signup-text {
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .signup-text {
    width: 480px;
  }
}

.signup-form {
}
.signup-form-item {
}

.signup-form-input {
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .signup-form-input {
    margin-bottom: 14px;
  }
}

.signup-message {
  resize: none;
  margin-bottom: 40px;
  height: 114px;
}
@media only screen and (min-width: 768px) {
  .signup-message {
    height: 120px;
  }
}

.signup-form-input,
.signup-message {
  font-size: 14px;
  line-height: 1.28;

  width: 100%;
  padding: 14px 18px;
  opacity: 0.7;

  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
}
@media only screen and (min-width: 768px) {
  .signup-form-input,
  .signup-message {
    font-size: 16px;
    line-height: 1.25;

    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.submit-btn {
  width: 100%;
  padding: 14px 0;
  margin-bottom: 20px;
  border-radius: 12px;

  color: var(--black, #121212);
  background: var(--white, #fff);

  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .submit-btn {
    font-size: 18px;
    line-height: 1.55;
  }
}

.signup-policy {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 1.33;
}
@media only screen and (min-width: 768px) {
  .signup-policy {
    font-size: 14px;
    line-height: 1.28;
  }
}

.signup-policy-link {
  text-decoration: underline;
}

.signup-pics {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .signup-pics {
    display: flex;
    gap: 20px;
    align-items: flex-end;
    height: 540px;
  }
}

.signup-pics-left {
  width: 180px;
  height: 288px;

  border-radius: 1000px;
  background: var(--brown-active);
}

.signup-pics-left img {
  /* Option #1 */
  /* padding: 76px 19px 62px 19px; */

  height: 100%;
  width: 100%;
  object-fit: none;

  object-position: -48px 72px;

  /* Option #2 */
  /* object-position: 100px 100px; */

  filter: drop-shadow(
    -35.56212px 17.78106px 25.43959px 0px rgba(0, 0, 0, 0.26)
  );
}

.signup-pics-right {
  width: 340px;
  height: 540px;

  border-radius: 1000px;
  background: var(--grey);
}

.signup-pics-right img {
  height: 100%;
  width: 100%;

  object-position: center 60%;
  object-fit: none;
}
