/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url("./reset.css");
@import url("./header.css");
@import url("./hero.css");
@import url("./advertisement.css");
@import url("./about-us.css");
@import url("./our-courses.css");
@import url("./our-mentors.css");
@import url("./sign-up.css");
@import url("./reviews.css");
@import url("./footer.css");

:root {
  font-family: 'DM Sans', sans-serif;
  background-color: #121212;
  color: var(#FFFFFF);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --fill-black: #121212;
  --fill-grey: #1D1D1D;
  --fill-gradient: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
  --fill-brown-active: #BEA69E;
  --fill-white: #FFF;
}

.container {
  width: 350px;
  margin: 0 auto;
}
p {
  display: block;
  text-align: center;
  padding-top: 18px;
  font-size: 20px;
  text-transform: uppercase;
}