/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('reset.css');
@import url('variables.css');
@import url('header.css');
@import url('hero.css');
@import url('advertisement.css');
@import url('about-us.css');
@import url('our-courses.css');
@import url('our-mentors.css');
@import url('sign-up.css');
@import url('reviews.css');
@import url('footer.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: var(--black);
  color: var(--white);
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.6px;
}
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 1.06;
    letter-spacing: -2.4px;
  }
}
@media only screen and (min-width: 1280px) {
  h1 {
    font-size: 64px;
    letter-spacing: -2.56px;
  }
}

/* Advertisement */
/* h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.14;
  letter-spacing: -0.56px;
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 40px;
    line-height: 1.25;
    letter-spacing: -0.8px;
  }
}
@media only screen and (min-width: 1280px) {
  h2 {
    font-size: 59px;
    line-height: 1.08;
    letter-spacing: -1.18px;
  }
} */

h2 {
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 1, 14;
  letter-spacing: -1.12px;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 48px;
    line-height: 1.12;
    letter-spacing: -1.92px;
  }
}

h3 {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
@media only screen and (min-width: 768px) {
  h3 {
    font-size: 28px;
    line-height: 1.14;
  }
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.28px;
}
@media only screen and (min-width: 768px) {
  p {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
  }

}

.container {
  width: 374.98px;
  padding: 0 20px;
  margin: 0 auto;
}

@media only screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 100px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}
